In [23]:
people = {
    "first": ["Steve", "Jane", "John"],
    "last": ["Herbz", "Doe", "Doe"],
    "email": ["steve@email.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [24]:
people['email']

['steve@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [25]:
import pandas as pd

In [26]:
df = pd.DataFrame(people)

In [27]:
df

   first   last              email
0  Steve  Herbz    steve@email.com
1   Jane    Doe  JaneDoe@email.com
2   John    Doe  JohnDoe@email.com

In [28]:
df['email']

0      steve@email.com
1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [29]:
type(df["email"])

pandas.core.series.Series

In [30]:
df.email

0      steve@email.com
1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [31]:
type(df.email)

pandas.core.series.Series

In [32]:
df[['last','email']]

    last              email
0  Herbz    steve@email.com
1    Doe  JaneDoe@email.com
2    Doe  JohnDoe@email.com

In [33]:
type(df[['last','email']])

pandas.core.frame.DataFrame

In [34]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [35]:
df.iloc[0] # ilok = Integer Location

first              Steve
last               Herbz
email    steve@email.com
Name: 0, dtype: object

In [37]:
df.iloc[[0, 2]]

   first   last              email
0  Steve  Herbz    steve@email.com
2   John    Doe  JohnDoe@email.com

In [39]:
df.iloc[[0, 1], 2]

0      steve@email.com
1    JaneDoe@email.com
Name: email, dtype: object

In [40]:
df

   first   last              email
0  Steve  Herbz    steve@email.com
1   Jane    Doe  JaneDoe@email.com
2   John    Doe  JohnDoe@email.com

In [41]:
df.loc[0]

first              Steve
last               Herbz
email    steve@email.com
Name: 0, dtype: object

In [42]:
df.loc[[0,1]]

   first   last              email
0  Steve  Herbz    steve@email.com
1   Jane    Doe  JaneDoe@email.com

In [43]:
df.loc[[0,1], 'email']

0      steve@email.com
1    JaneDoe@email.com
Name: email, dtype: object

In [44]:
df.loc[[0,1], ['email', 'last']]

               email   last
0    steve@email.com  Herbz
1  JaneDoe@email.com    Doe